@page "/"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using TheSteward.Shared.Components.DashboardComponets
@using Microsoft.AspNetCore.Components.Web

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Home</PageTitle>
@if(isLoading)
{
    <p><em>Loading...</em></p>
} 
else
{    
    <AuthorizeView>
        <Authorized>
            <Dashboard />
        </Authorized>

        <NotAuthorized>
            <LandingPage />
            <div class="color-test">
                <div class="swatch-group theme-green">
                    <h5>Gray</h5>
                    <div class="color-swatch gray-1">One</div>
                    <div class="color-swatch gray-2">Two</div>
                    <div class="color-swatch gray-3">Three</div>
                    <div class="color-swatch gray-4">Four</div>
                    <div class="color-swatch gray-5">Five</div>
                    <div class="color-swatch gray-6">Six</div>
                    <div class="color-swatch gray-7">Seven</div>
                    <div class="color-swatch gray-8">Eight</div>
                    <div class="color-swatch gray-9">Nine</div>
                    <div class="color-swatch gray-10">Ten</div>
                </div>
                <div class="swatch-group theme-red">
                    <h5>Red</h5>
                    <div class="color-swatch swatch-1">One</div>
                    <div class="color-swatch swatch-2">Two</div>
                    <div class="color-swatch swatch-3">Three</div>
                    <div class="color-swatch swatch-4">Four</div>
                    <div class="color-swatch swatch-5">Five</div>
                    <div class="color-swatch swatch-6">Six</div>
                    <div class="color-swatch swatch-7">Seven</div>
                    <div class="color-swatch swatch-8">Eight</div>
                    <div class="color-swatch swatch-9">Nine</div>
                    <div class="color-swatch swatch-10">Ten</div>
                </div>
                <div class="swatch-group theme-orange">
                    <h5>Red</h5>
                    <div class="color-swatch swatch-1">One</div>
                    <div class="color-swatch swatch-2">Two</div>
                    <div class="color-swatch swatch-3">Three</div>
                    <div class="color-swatch swatch-4">Four</div>
                    <div class="color-swatch swatch-5">Five</div>
                    <div class="color-swatch swatch-6">Six</div>
                    <div class="color-swatch swatch-7">Seven</div>
                    <div class="color-swatch swatch-8">Eight</div>
                    <div class="color-swatch swatch-9">Nine</div>
                    <div class="color-swatch swatch-10">Ten</div>
                </div>
                <div class="swatch-group theme-yellow">
                    <h5>Yellow</h5>
                    <div class="color-swatch swatch-1">One</div>
                    <div class="color-swatch swatch-2">Two</div>
                    <div class="color-swatch swatch-3">Three</div>
                    <div class="color-swatch swatch-4">Four</div>
                    <div class="color-swatch swatch-5">Five</div>
                    <div class="color-swatch swatch-6">Six</div>
                    <div class="color-swatch swatch-7">Seven</div>
                    <div class="color-swatch swatch-8">Eight</div>
                    <div class="color-swatch swatch-9">Nine</div>
                    <div class="color-swatch swatch-10">Ten</div>
                </div>
                <div class="swatch-group theme-green">
                    <h5>Green</h5>
                    <div class="color-swatch swatch-1">One</div>
                    <div class="color-swatch swatch-2">Two</div>
                    <div class="color-swatch swatch-3">Three</div>
                    <div class="color-swatch swatch-4">Four</div>
                    <div class="color-swatch swatch-5">Five</div>
                    <div class="color-swatch swatch-6">Six</div>
                    <div class="color-swatch swatch-7">Seven</div>
                    <div class="color-swatch swatch-8">Eight</div>
                    <div class="color-swatch swatch-9">Nine</div>
                    <div class="color-swatch swatch-10">Ten</div>
                </div>
                <div class="swatch-group theme-blue">
                    <h5>Blue</h5>
                    <div class="color-swatch swatch-1">One</div>
                    <div class="color-swatch swatch-2">Two</div>
                    <div class="color-swatch swatch-3">Three</div>
                    <div class="color-swatch swatch-4">Four</div>
                    <div class="color-swatch swatch-5">Five</div>
                    <div class="color-swatch swatch-6">Six</div>
                    <div class="color-swatch swatch-7">Seven</div>
                    <div class="color-swatch swatch-8">Eight</div>
                    <div class="color-swatch swatch-9">Nine</div>
                    <div class="color-swatch swatch-10">Ten</div>
                </div>
                <div class="swatch-group theme-purple">
                    <h5>Purple</h5>
                    <div class="color-swatch swatch-1">One</div>
                    <div class="color-swatch swatch-2">Two</div>
                    <div class="color-swatch swatch-3">Three</div>
                    <div class="color-swatch swatch-4">Four</div>
                    <div class="color-swatch swatch-5">Five</div>
                    <div class="color-swatch swatch-6">Six</div>
                    <div class="color-swatch swatch-7">Seven</div>
                    <div class="color-swatch swatch-8">Eight</div>
                    <div class="color-swatch swatch-9">Nine</div>
                    <div class="color-swatch swatch-10">Ten</div>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
}


@if (!string.IsNullOrEmpty(errorMessage))
{
    <MudAlert Severity="Severity.Error" Class="mt-3">
        @errorMessage
    </MudAlert>
}

@code {
    private bool isLoading = true;
    private string? errorMessage;
    private string? currentUserId;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity?.IsAuthenticated == true)
            {
                currentUserId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading household: {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }
    }
}
