@page "/household"

@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using AutoMapper
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using TheSteward.Core.Dtos.HouseholdDtos
@using TheSteward.Shared.Components

@inject IHouseholdService HouseholdService
@inject IUserHouseholdService UserHouseholdService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

@attribute [Authorize]

<PageTitle>My Household</PageTitle>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (showHouseholdForm)
{
    <HouseholdForm 
        IsEditMode="isEditMode"
        FormData="householdFormDto"
        IsSubmitting="isSubmitting"
        OnSubmit="SaveHousehold"
        OnCancel="CancelEdit" />

}
else if (showCard)
{
    <HouseholdCard 
        HouseholdDto="householdDto"
        HasAdminPermissions="hasAdminPermissions"
        OnEditHosuehold="EditHousehold"
        GetMember="GetMember" />
    
    if (selectedUserHouseholdDto != null)
    {        
        <UserHouseholdCard 
            UserHouseholdDto="selectedUserHouseholdDto"
            ClearSelectedMember="ClearSelectedMember"
            EditMemberPermissions="EditMemberPermissions" />
    }
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-3" role="alert">
        @errorMessage
    </div>
}


@code {
    private CreateHouseholdDto createHouseholdDto = new();
    private UpdateHouseholdDto updateHouseholdDto = new();
    private HouseholdFormDto householdFormDto = new();
    private HouseholdDto? householdDto = null;
    private UserHouseholdDto? userHouseholdDto = null;
    private UserHouseholdDto? selectedUserHouseholdDto = null;
    private ApplicationUser? selectedMember;

    private bool isLoading = true;
    private bool isLoadingMember = false;
    private bool showHouseholdForm = false;
    private bool showCard = false;
    private bool isEditMode = false;
    private bool isSubmitting = false;
    private bool hasDefaultHousehold = false;
    private bool hasAdminPermissions = false;
    private bool showMemberPermissionsForm = false;

    private string? errorMessage;
    private string? currentUserId;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity?.IsAuthenticated == true)
            {
                currentUserId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

                if (!string.IsNullOrEmpty(currentUserId))
                {
                    var defaultUserHousehold = await UserHouseholdService.GetDefaultUserHouseholdForUserAsync(currentUserId);

                    if (defaultUserHousehold  != null)
                    {
                        hasDefaultHousehold = true;
                        householdDto = defaultUserHousehold.Household;
                        hasAdminPermissions = defaultUserHousehold.HasAdminPermissions;
                        showCard = true;
                    }
                    else
                    {
                        hasDefaultHousehold = false;
                        showCard = false;
                        showHouseholdForm = true;
                        isEditMode = false;
                    }
                }
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading household: {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task SaveHousehold()
    {
        if (string.IsNullOrEmpty(currentUserId))
        {
            errorMessage = "User not authenticated";
            return;
        }

        isSubmitting = true;
        errorMessage = null;

        try
        {
            if (isEditMode && householdDto != null) // Update household
            {

                updateHouseholdDto.HouseholdId = householdDto.HouseholdId;
                updateHouseholdDto.IsDefaultHousehold = hasDefaultHousehold;
                updateHouseholdDto.HouseholdName = householdFormDto.HouseholdName;
                updateHouseholdDto.HasTaskManagerAccess = householdFormDto.HasTaskManagerAccess;
                updateHouseholdDto.HasFinanceManagerAccess = householdFormDto.HasFinanceManagerAccess;
                updateHouseholdDto.HasMealManagerAccess = householdFormDto.HasMealManagerAccess;
                updateHouseholdDto.HasFileManagerAccess = householdFormDto.HasFileManagerAccess;

                await HouseholdService.UpdateAsync(updateHouseholdDto);
            }
            else // Create household
            {
                createHouseholdDto.IsDefaultHousehold = !hasDefaultHousehold;
                createHouseholdDto.HouseholdName = householdFormDto.HouseholdName;
                createHouseholdDto.HasTaskManagerAccess = householdFormDto.HasTaskManagerAccess;
                createHouseholdDto.HasFinanceManagerAccess = householdFormDto.HasFinanceManagerAccess;
                createHouseholdDto.HasMealManagerAccess = householdFormDto.HasMealManagerAccess;
                createHouseholdDto.HasFileManagerAccess = householdFormDto.HasFileManagerAccess;

                await HouseholdService.AddAsync(createHouseholdDto, currentUserId);
            }

            var defaultUserHousehold = await UserHouseholdService.GetDefaultUserHouseholdForUserAsync(currentUserId);

            if (defaultUserHousehold?.Household != null)
            {
                householdDto = defaultUserHousehold.Household;
                hasAdminPermissions = defaultUserHousehold.HasAdminPermissions;
                hasDefaultHousehold = true;
            }
            else
            {
                errorMessage = "Unable to load household after save";
            }
            
            showHouseholdForm = false;
            showCard = true;
            isEditMode = false;

            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error saving household: {ex.Message}";
        }
        finally
        {
            isSubmitting = false;
        }
    }

    private void EditHousehold()
    {
        if (householdDto == null) return;

        householdFormDto = new HouseholdFormDto
        {
            HouseholdName = householdDto.HouseholdName,
            HasTaskManagerAccess = householdDto.HasTaskManagerAccess,
            HasFinanceManagerAccess = householdDto.HasFinanceManagerAccess,
            HasMealManagerAccess = householdDto.HasMealManagerAccess,
            HasFileManagerAccess = householdDto.HasFileManagerAccess
        };

        isEditMode = true;
        showHouseholdForm = true;
        showCard = false;
    }

    private void CancelEdit()
    {
        showHouseholdForm = false;
        showCard = true;
        isEditMode = false;
        householdFormDto = new HouseholdFormDto();
        errorMessage = null;
    }


    private async Task GetMember(ApplicationUser member)
    {
        if (householdDto == null)
        {
            errorMessage = "Household data not loaded.";
            return;
        }

        isLoadingMember = true;
        errorMessage = null;
        selectedUserHouseholdDto = null;
        StateHasChanged();

        try
        {
            var userHousehold = await UserHouseholdService.GetUserHouseholdByHouseholdIdAndUserIdAsync(householdDto.HouseholdId, member.Id);

            if (userHousehold != null)
            {
                selectedUserHouseholdDto = userHousehold;
                selectedMember = member;
            }
            else
            {
                errorMessage = "Unable to load member details.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading member details: {ex.Message}";
        }
        finally
        {
            isLoadingMember = false;
            StateHasChanged();
        }
    }

    private void ClearSelectedMember()
    {
        selectedUserHouseholdDto = null;
        selectedMember = null;
        errorMessage = null;
    }

    private void EditMemberPermissions(UserHouseholdDto userHouseholdDto)
    {
        // Open your member permissions edit form
        // You can set a flag to show a different form, similar to showForm
        showMemberPermissionsForm = true;
    }
}