@inherits LayoutComponentBase
@implements IDisposable
@inject INavigationService NavigationService

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@* <div class="app-container">
    <SidebarNav />
    <div class="main-content">
        @Body
    </div>
</div> *@

<MudLayout class="app-container">
    <MudDrawer Open="true">
        <SidebarNav />
    </MudDrawer>
    <MudMainContent class="main-content">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    protected override void OnInitialized()
    {
        NavigationService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavigationService.OnChange -= StateHasChanged;
    }
}