@inherits LayoutComponentBase
@implements IDisposable
@inject INavigationService NavigationService

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="app-container">
    <SidebarNav />
    <div class="main-content">
        @Body
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        NavigationService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavigationService.OnChange -= StateHasChanged;
    }
}