.sidebar {
    min-width: 200px;
    width: 200px;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--nightly-blue) 80%, var(--teals-the-deal) 100%);
    background-image: linear-gradient(var(--green), var(--green), var(--green), var(--light-green), var(--yellow-green));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    font-family: var(--primary-font);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.nav-img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-image {
    height: 10rem;
    width: fit-content;
}

.navbar-brand-text {
    font-family: var(--title-font);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white);
    white-space: nowrap;
}

.nav-link-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content:center;
    text-align: center;

    padding: 1rem 0 1rem .5rem;
    margin-bottom: .25rem;

    border-radius: 16px;
    transition: background 0.18s, color 0.18s, box-shadow 0.2s;
    position: relative;
    width: 95%;
    cursor: pointer;
    text-decoration: none !important;
}

a.nav-link-group.active, a.nav-link-group:active, a.nav-link-group:hover {
    text-decoration: none !important;
    background: var(--skys-the-limit);
    color: var(--nightly-blue);
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    transition: color 0.18s, text-shadow 0.28s;
}

.nav-title {
    font-size: 1rem;
    text-align: center;
    transition: color 0.18s;
    letter-spacing: 0.03em;
    color: var(--off-white);
    text-decoration: none !important;
}

.nav-link-group .nav-icon {
    color: var(--brightly-green);
}

.nav-link-group.active .nav-icon,
.nav-link-group:hover .nav-icon {
    color: var(--nightly-blue);
    text-shadow: 0 0 8px var(--brightly-green), 0 0 2px var(--skys-the-limit);
}

.nav-link-group.active .nav-title,
.nav-link-group:hover .nav-title {
    color: var(--nightly-blue);
}
