/* --------- */
/* Base Card */
/* --------- */
.ts-card {
    margin: 1rem;
    font-family: var(--primary-font);
    border-radius: var(--border-radius);
}

.ts-card-content {
    border: solid 3px var(--gray-9);
    border-radius: var(--border-radius);
    padding: 0 0 .5rem 0;
}

.ts-card-header {
    align-items: center;
    background-image: var(--blue-gradient);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    color: var(--off-white);
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding: 1rem 1rem;
}

.ts-card-title {
    font-family: var(--label-font);
    margin: 0 1rem 0 0;
}

.ts-card-body {
    padding-left: .5rem;
    margin: .5rem;
}

.ts-card-section {
    margin-bottom: .5rem;
}

.ts-card-btn-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: flex-end;
    padding: .5rem;
}

.ts-card-btn {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-width: 1px;
    cursor: pointer;
    height: fit-content;
    font-family: var(--label-font);
    font-weight: 400;
    padding: .375rem 1rem;
    color: var(--off-white);
}

.ts-card-row {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

    .ts-card-row:first-child {
        flex-grow: 2;
    }

    .ts-card-row:last-child {
        flex-grow: 1;
    }

/* ------------ */
/* Tabbbed Card */
/* ------------ */

.ts-tabbed-card {
    margin: 1rem;
    font-family: var(--primary-font);
    border: none;
    border-radius: var(--border-radius);
}

    .ts-tabbed-card .ts-tabbed-card-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 .5rem 0 0;
    }

        .ts-tabbed-card-btn-container .ts-card-tab-btn {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            border-width: 1px;
            cursor: pointer;
            height: fit-content;
            font-family: var(--label-font);
            font-weight: 400;
            padding: .375rem 1rem;
            color: var(--off-white);
        }

    .ts-tabbed-card .ts-tabbed-card-header {
        padding: 0;
    }

        .ts-tabbed-card-header .ts-tabbbed-card-title {
            font-family: var(--label-font);
            margin: 0 1rem 0 0;
        }