@namespace TheSteward.Shared.Components.HouseholdComponents
@using TheSteward.Shared.Dtos
@using TheSteward.Shared.Dtos.HouseholdDtos

<MudDialog Class="user-household-modal ts-modal">
    <TitleContent>
        <div class="modal-header-custom">
            <MudText Typo="Typo.h5">Edit Member Permissions</MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Close"
                           OnClick="HandleCancel"
                           Class="modal-close-btn" />
        </div>
    </TitleContent>

    <DialogContent>
        <MudText Typo="Typo.h6" Class="mb-3">
            <strong>User Name: </strong> @FormData.MemberName
        </MudText>
        <EditForm Model="FormData" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <MudText Typo="Typo.body1" Class="mb-3">
                <strong>Household Owner:</strong> @(FormData.IsHouseholdOwner ? "Yes" : "No")
            </MudText>

            <MudText Typo="Typo.subtitle2" Class="mb-2">General Permissions:</MudText>
            <MudSwitch @bind-Value="FormData.HasAdminPermissions"
                       Label="Admin Permissions"
                       Color="Color.Primary"
                       Class="mb-3" />

            <MudText Typo="Typo.subtitle2" Class="mb-2 mt-3">Finance Manager:</MudText>
            <MudSwitch @bind-Value="FormData.HasFinanceManagerReadPermission"
                       Label="Read Permission"
                       Color="Color.Primary"
                       Class="mb-3" />
            <MudSwitch @bind-Value="FormData.HasFinanceManagerWritePermission"
                       Label="Write Permission"
                       Color="Color.Primary"
                       Class="mb-2" />

            <MudText Typo="Typo.subtitle2" Class="mb-2 mt-3">Kitchen Manager:</MudText>
            <MudSwitch @bind-Value="FormData.HasKitchenManagerReadPermission"
                       Label="Read Permission"
                       Color="Color.Primary"
                       Class="mb-3" />
            <MudSwitch @bind-Value="FormData.HasKitchenManagerWritePermission"
                       Label="Write Permission"
                       Color="Color.Primary"
                       Class="mb-2" />

            <MudText Typo="Typo.subtitle2" Class="mb-2 mt-3">Task Manager:</MudText>
            <MudSwitch @bind-Value="FormData.HasTaskManagerReadPermission"
                       Label="Read Permission"
                       Color="Color.Primary"
                       Class="mb-3" />
            <MudSwitch @bind-Value="FormData.HasTaskManagerWritePermission"
                       Label="Write Permission"
                       Color="Color.Primary"
                       Class="mb-2" />

            <MudText Typo="Typo.subtitle2" Class="mb-2 mt-3">File Manager:</MudText>
            <MudSwitch @bind-Value="FormData.HasFileManagerReadPermission"
                       Label="Read Permission" 
                       Color="Color.Primary" 
                       Class="mb-3" />
            <MudSwitch @bind-Value="FormData.HasFileManagerWritePermission"
                       Label="Write Permission" 
                       Color="Color.Primary" 
                       Class="mb-2" />
        </EditForm>
    </DialogContent>

    <DialogActions>
        <MudButton Class="cancel-btn"
                    OnClick="HandleCancel"
                   Variant="Variant.Outlined">
            Cancel
        </MudButton>
        <MudButton Class="submit-btn"
                    OnClick="HandleSubmit"
                   Variant="Variant.Filled" >
            Update Permissions
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter, EditorRequired]
    public UserHouseholdFormDto FormData { get; set; } = new();

    private void HandleSubmit()
    {
        MudDialog.Close(DialogResult.Ok(FormData));
    }

    private void HandleCancel()
    {
        MudDialog.Cancel();
    }
}