/* =================================================== */
/* ----              Budget Card                  ---- */
/* =================================================== */
.ts-card.budget-card {
    width: 100%;
    animation: slideUp 0.4s ease-out;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ---- Card border accent ---- */
.ts-card.budget-card .ts-card-content {
    border: solid 1px var(--gray-3);
    padding: 0rem;
}

/* =================================================== */
/* ----                Header                     ---- */
/* =================================================== */
.budget-card .ts-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.5rem 0.4rem;
    background: var(--blue-1);
    color: var(--base-blue);
    border-left: 3px solid var(--base-blue);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    margin-bottom: 0.25rem;
    
}

.budget-card-chevron {
    font-size: 1.1rem;
    color: var(--base-blue);
    flex-shrink: 0;
}


/* =================================================== */
/* ----             Action buttons                ---- */
/* =================================================== */
.ts-card.budget-card .ts-card-action-btn--create {
    background-color: var(--blue-6);
    border-color: var(--blue-6);
    color: var(--off-white);
}

.ts-card.budget-card .ts-card-action-btn--create:hover:not(:disabled) {
    background-color: var(--blue-8);
}


.ts-card .ts-card-action-btn--info {
    background-color: var(--white);
    border: 1px solid var(--blue-6);
    color: var(--blue-7);
}

.ts-card.budget-card.ts-card-action-btn--info:hover:not(:disabled) {
    background-color: var(--blue-1);
    border-color: var(--blue-4);
    color: var(--blue-8);
}



/* =================================================== */
/*                   Card Table                        */
/* =================================================== */
/*#incomeCard .card-th {*/
/*    border-bottom: 2px solid var(--green-3);*/
/*}*/

/*.income-th-amount {*/
/*    text-align: right;*/
/*}*/

/*#incomeCard .income-row:hover {*/
/*    background-color: var(--green-1);*/
/*}*/

/*.income-td-amount {*/
/*    font-variant-numeric: tabular-nums;*/
/*    font-family: var(--primary-font);*/
/*}*/

/*.income-td-action {*/
/*    text-align: center;*/
/*    padding: 0.25rem;*/
/*    width: 2rem;*/
/*}*/

/*#incomeCard .card-row-btn--edit:hover {*/
/*    background-color: var(--green-2);*/
/*    color: var(--green-8);*/
/*}*/

/*      Totals Footer      */
/* ======================= */
#incomeCard .income-totals-row {
    /*border-top: 2px solid var(--green-4);*/
}

#incomeCard .income-totals-value {
    /*color: var(--base-green);*/
}



/* =================================================== */
/*                      Mobile                         */
/* =================================================== */
@media (max-width: 1000px) {
    .ts-card.budget-card {
        max-width: 90vw;
    }

}

@media (max-width: 600px) {

}