@typeparam TValue
@using TheSteward.Shared.Models;
@namespace TheSteward.Shared.Components

<div class="ts-custom-select-container @(IsOpen ? "open" : "")">
    <div class="ts-select-header ts-select--@Variant" @onclick="ToggleDropdown">
        <span>@GetDisplayText()</span>
        <span class="material-icons ts-chevron @(IsOpen ? "rotated" : "")">expand_more</span>
    </div>

    @if (IsOpen)
    {
        <ul class="ts-select-options ts-select--@Variant">
            @foreach (var item in Items)
            {
                <li @onclick="() => SelectItemHandler(item)">
                    @item.Text
                </li>
            }
        </ul>
    }
</div>

@code {
    private bool IsOpen = false;

    [Parameter] 
    public TValue? Value { get; set; }
    
    [Parameter] 
    public EventCallback<TValue?> ValueChanged { get; set; }
    
    [Parameter] 
    public List<SelectItem<TValue>> Items { get; set; } = new();
    
    [Parameter] 
    public string? Placeholder { get; set; } = "Select…";
    
    [Parameter] 
    public EventCallback OnChange { get; set; }

    [Parameter] 
    public string Variant { get; set; } = "green";

    
    private void ToggleDropdown() => IsOpen = !IsOpen;

    private async Task SelectItemHandler(SelectItem<TValue> item)
    {
        Value = item.Value;
        await ValueChanged.InvokeAsync(Value);
        await OnChange.InvokeAsync();
        IsOpen = false;
    }

    private string GetDisplayText()
    {
        if (Value is null)
            return Placeholder ?? "Select…";

        var match = Items.FirstOrDefault(i =>
            EqualityComparer<TValue>.Default.Equals(i.Value, Value));

        return match?.Text ?? Placeholder ?? "Select…";
    }
}
