<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="/styles/tsStyleLibrary.css" />
    <link rel="stylesheet" href="/styles/components/sidebarNav.css" />
    <link rel="stylesheet" href="/styles/components/householdForm.css" />
    <link rel="stylesheet" href="/styles/pages/household.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <ImportMap />
    <HeadOutlet @rendermode="PageRenderMode" />
</head>

<body>
    <Routes @rendermode="PageRenderMode" />
    <script src="js/tsSelect.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; }

    private IComponentRenderMode? PageRenderMode =>
        HttpContext?.AcceptsInteractiveRouting() == true ? InteractiveServer : null;
}
