.remove-member-modal.ts-modal.mud-dialog {
    border: 3px solid var(--base-blue);
}

.remove-member-modal .mud-dialog-title {
    background-color: var(--base-blue);
    color: var(--off-white);
}

.ts-btn.ts-delete-btn {
    background-color: var(--base-red);
    color: var(--off-white);
    border-color: var(--base-red);
}

.ts-btn.ts-cancel-btn {
    background-color: var(--gray-2);
    border-color: var(--gray-3);
    color: var(--gray-8);
}

.ts-btn.ts-secondary-btn {
    background-color: var(--base-yellow);
    color: var(--off-white);
    border-color: var(--base-orange);
}

    .ts-btn.ts-secondary-btn:hover {
        background-color: var(--yellow-8);
        color: var(--off-white);
    }

    .ts-btn.ts-secondary-btn:active {
        background-color: var(--yellow-9);
        color: var(--off-white);
    }
