
/* Content */
/* ------- */
#userProfileCard .ts-card-content {
    border-color: var(--base-blue);
}

#userProfileCard p {
    margin: 0;
}

#userProfileCard .ts-card-row :first-child {
    flex-grow: 2;
    max-width: 15rem;
}
