.user-profile-modal.mud-dialog {
    border: 3px solid var(--base-blue);
}

.user-profile-modal .modal-header-custom {
    background-color: var(--base-blue);
}

.user-profile-modal .submit-btn {
    background-color: var(--base-blue);
    color: white;
}

    .user-profile-modal .submit-btn:hover {
        background-color: var(--blue-8);
        color: white;
    }

.user-profile-modal .cancel-btn {
    background-color: var(--gray-2);
    border-color: var(--gray-3);
    color: var(--gray-8);
}

    .user-profile-modal .cancel-btn:hover {
        background-color: var(--gray-5);
    }


.user-profile-modal div.mud-input-control > div > div > fieldset {
    border-color: var(--gray-3) !important;
}


.user-profile-modal div.mud-input-control:focus-within > div > div > fieldset {
    border-color: var(--base-blue) !important;
    color: var(--gray-5);
}

.user-profile-modal .mud-input-label {
    color: var(--gray-6) !important;
}

.user-profile-modal div.mud-input-control:focus-within .mud-input-label {
    color: var(--gray-6) !important;
}