/* Content */
/* ------- */
#userHouseholdCard .ts-card-content {
    border-color: var(--base-blue);
}

/* Header */
/* ------ */
#userHouseholdCard .ts-card-header {
    background-color: var(--off-white);
    color: var(--gray-8);
    font-weight: 600;
    font-size: 1.25rem;
}

#userHouseholdCard .ts-tabbed-card-title {
    display: flex;
    align-items: center;
}

#userHouseholdCard p {
    margin: 0;
}

/* Permissions List */
#userHouseholdCard .ts-card-row :first-child {
    flex-grow: 2;
    max-width: 15rem;
}

ul#memberPermissionsList li {
    display: flex;
    flex-direction: row;
}

    ul#memberPermissionsList li :first-child {
        flex-grow: 2;
        max-width: 14.5rem;
    }

    ul#memberPermissionsList li :last-child {
        flex-grow: 1;
    }

#memberPermissionsList li > span {
    align-items: center;
    gap: 0.5rem;
    display: flex;
    padding: 0.15rem 0.5rem;
}
