.budget-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.budget-col-left {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.budget-col-right {
    display: flex;
    flex-direction: column;
    width: 45%;
}


