.color-test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
}

.color-swatch {
    height: 4rem;
    width: 4rem;
}

.swatch-group {
    display: flex;
    flex-direction: column;
}