
/* Tool Container */
.household-tool-container {
    align-items: center;
    animation: slideUp 0.4s ease-out;
    border-radius: var(--border-radius);
    border: solid 1px var(--gray-4);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .5rem;
    justify-content: center;
    justify-self: center;
    margin: 1rem 0;
    padding: .5rem;
    width: 90%;
}

@keyframes slideleft {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.household-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .household-form-container .section-title {
        text-align: center;
        align-items: center;
        margin-bottom: -.5rem;
    }

/* Household Card Container */

.household-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.household-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

    .household-container .section-title {
        text-align: center;
        align-items: center;
        margin-bottom: -.5rem;
    }

#householdForm .form-label.ts-label {
    min-width: 14rem;
}

#householdForm .form-check-label.ts-label {
    min-width: 14rem;
}

#householdForm .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}